/* 
    If this is your only scss file, un-comment the below @import and 
    link the compiled css in your project,
    Else copy just the content below it to your main scss file 
*/

// @import "../node_modules/bootstrap/scss/bootstrap.scss";

.blue-100{ background: $blue-100; color: black;}
.blue-200{ background: $blue-200; color: black;}
.blue-300{ background: $blue-300; color: black;}
.blue-400{ background: $blue-400; color: white;}
.blue-500{ background: $blue-500; color: white;}
.blue-600{ background: $blue-600; color: white;}
.blue-700{ background: $blue-700; color: white;}
.blue-800{ background: $blue-800; color: white;}
.blue-900{ background: $blue-900; color: white;}

.indigo-100{ background: $indigo-100; color: black;}
.indigo-200{ background: $indigo-200; color: black;}
.indigo-300{ background: $indigo-300; color: white;}
.indigo-400{ background: $indigo-400; color: white;}
.indigo-500{ background: $indigo-500; color: white;}
.indigo-600{ background: $indigo-600; color: white;}
.indigo-700{ background: $indigo-700; color: white;}
.indigo-800{ background: $indigo-800; color: white;}
.indigo-900{ background: $indigo-900; color: white;}

.purple-100{ background: $purple-100; color: black;}
.purple-200{ background: $purple-200; color: black;}
.purple-300{ background: $purple-300; color: white;}
.purple-400{ background: $purple-400; color: white;}
.purple-500{ background: $purple-500; color: white;}
.purple-600{ background: $purple-600; color: white;}
.purple-700{ background: $purple-700; color: white;}
.purple-800{ background: $purple-800; color: white;}
.purple-900{ background: $purple-900; color: white;}

.pink-100{ background: $pink-100; color: black;}
.pink-200{ background: $pink-200; color: black;}
.pink-300{ background: $pink-300; color: black;}
.pink-400{ background: $pink-400; color: white;}
.pink-500{ background: $pink-500; color: white;}
.pink-600{ background: $pink-600; color: white;}
.pink-700{ background: $pink-700; color: white;}
.pink-800{ background: $pink-800; color: white;}
.pink-900{ background: $pink-900; color: white;}

.red-100{ background: $red-100; color: black;}
.red-200{ background: $red-200; color: black;}
.red-300{ background: $red-300; color: black;}
.red-400{ background: $red-400; color: white;}
.red-500{ background: $red-500; color: white;}
.red-600{ background: $red-600; color: white;}
.red-700{ background: $red-700; color: white;}
.red-800{ background: $red-800; color: white;}
.red-900{ background: $red-900; color: white;}

.orange-100{ background: $orange-100; color: black;}
.orange-200{ background: $orange-200; color: black;}
.orange-300{ background: $orange-300; color: black;}
.orange-400{ background: $orange-400; color: black;}
.orange-500{ background: $orange-500; color: black;}
.orange-600{ background: $orange-600; color: white;}
.orange-700{ background: $orange-700; color: white;}
.orange-800{ background: $orange-800; color: white;}
.orange-900{ background: $orange-900; color: white;}

.yellow-100{ background: $yellow-100; color: black;}
.yellow-200{ background: $yellow-200; color: black;}
.yellow-300{ background: $yellow-300; color: black;}
.yellow-400{ background: $yellow-400; color: black;}
.yellow-500{ background: $yellow-500; color: black;}
.yellow-600{ background: $yellow-600; color: black;}
.yellow-700{ background: $yellow-700; color: white;}
.yellow-800{ background: $yellow-800; color: white;}
.yellow-900{ background: $yellow-900; color: white;}

.green-100{ background: $green-100; color: black;}
.green-200{ background: $green-200; color: black;}
.green-300{ background: $green-300; color: black;}
.green-400{ background: $green-400; color: black;}
.green-500{ background: $green-500; color: white;}
.green-600{ background: $green-600; color: white;}
.green-700{ background: $green-700; color: white;}
.green-800{ background: $green-800; color: white;}
.green-900{ background: $green-900; color: white;}

.teal-100{ background: $teal-100; color: black;}
.teal-200{ background: $teal-200; color: black;}
.teal-300{ background: $teal-300; color: black;}
.teal-400{ background: $teal-400; color: black;}
.teal-500{ background: $teal-500; color: black;}
.teal-600{ background: $teal-600; color: black;}
.teal-700{ background: $teal-700; color: white;}
.teal-800{ background: $teal-800; color: white;}
.teal-900{ background: $teal-900; color: white;}

.cyan-100{ background: $cyan-100; color: black;}
.cyan-200{ background: $cyan-200; color: black;}
.cyan-300{ background: $cyan-300; color: black;}
.cyan-400{ background: $cyan-400; color: black;}
.cyan-500{ background: $cyan-500; color: white;}
.cyan-600{ background: $cyan-600; color: white;}
.cyan-700{ background: $cyan-700; color: white;}
.cyan-800{ background: $cyan-800; color: white;}
.cyan-900{ background: $cyan-900; color: white;}

